.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}
.note{
    color: black;
    font-size: 15px;
}
.copy_right_footer{
    position: fixed;
    color: white;
    background-color: rgb(162, 0, 255);
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid rgb(255, 0, 128);
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgb(0, 255, 179);
}